doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='img/icon-tab.png' rel='shortcut icon')
  // Load css
  //
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
  link(rel='stylesheet' href='style/style.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  title Kampus Verse
body
  // Untuk bagian header
  nav.navbar.navbar-expand-lg.navbar-dark.p-0(style='background-color:#22A7F0')
    .container
      .navbar-header
        a.navbar-brand(href='#')
          img#logo(src='img/icon.png' alt='logo-kampusverse')
      #navbarSupportedContent.collapse.navbar-collapse.collapse
        ul.nav.navbar-nav.mr-auto
        ul.nav.navbar-nav.navbar-right
  // Bagian Isi
  section.kategori
    .container.title_hightlight
      h2.font-weight-bold SILAHKAN MELAKUKAN LOGIN
    .container.logologin.mt-5
      .row
        .container.col-md-4
          img#loginform(src='img/user-logo.png' style='width:50%;')
    .container.mt-5
      .row
        .container.col-md-4
          form#login(action='#' method='POST')
            .form-group
              label(for='nama') Password:
              input#nama.form-control(type='password' placeholder='Enter password' name='password' value='')
            button.btn.btn-success(type='submit' name='simpan' value='Upload' style='display: block; margin: 0 auto;') LOGIN